
.masterclass-card {
display: flex;
justify-content: center;
align-items: center;
margin: 2%;
}


#skillCarousel {
  height: 400px;
  .carousel-inner:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 450px;
      height: 300px;
    }
  }
}

.carousel-item {
  position: relative;
  padding: 8px;
  transition: none;

  img{
    width: 450px;
    height: 300px;
  }

}
.carousel-item :active{
  height: 150px;
  padding: 8px;
  transition: none;

  img{
    width: 450px;
    height: 300px;
  }

}

@media screen and (max-width: 992px) {
  #skillsCarousel {
    .carousel-item {
      height: 480px;
    }

    p {
      font-size: 12px;
    }

  }
}
