<div>
 <div class="titre">
    <h2>A propos</h2>
  </div>

  <div class="anais">
  <%= image_tag("anais-profil.jpeg", alt:"photo-profil-anais") %>
  <p>Lorem ipsum dolor sit amet. Ut cumque cupiditate sed beatae voluptatem aut ducimus corrupti. Et dolore accusantium sed quia quasi qui amet sapiente! A exercitationem rerum et consectetur autem vel distinctio expedita est reprehenderit asperiores vel possimus distinctio et ipsum vitae ad ipsa rerum.</p>
  </div>

  <div class="grille">
    <div class="clair">coucou</div>
    <div class="fonce">coucou</div>
    <div class="fonce">coucou</div>
    <div class="clair">coucou</div>
  </div>

</div>
