<div>
 <div class="titre">
    <h2>A propos</h2>
  </div>

  <div class="anais">
  <%= image_tag("anais-profil.jpeg", alt:"photo-profil-anais") %>
  <div class="prez">
    <span>Moi, c'est Anaïs.</span>
    <p><br>J'ai 24 ans et en juillet 2020, j'ai créé Quartz Agency, l'agence de communication sur les réseaux sociaux.
    <br>Depuis plus de 3 ans, j'accompagne les start-up, TPE/PME à communiquer de façon efficace sur les réseaux sociaux pour toucher de nouvelles audiences et vendre en masse.
    <br>Cela passe par tous les réseaux sociaux (LinkedIn, Twitter, Instagram, Tik Tok, Facebook, Pinterest...), mais aussi par tous supports (vidéos, photos, visuels, textes, ...).
    <ul>Depuis le début, nos valeurs au sein de l'entreprise n'ont pas changées :

      <li>la transparence : vous savez tout</li>
      <li>la fiabilité : nous serons toujours à vos côtés</li>
      <li>la confiance : nous nous engageons sur tous les points</li>
</ul>
    <p><br>Pour plus d'informations, n'hésitez pas à regarder mon portfolio ou à me contacter directement !
    <br>A bientôt,</p>
  </div>
  </div>

  <div class="grille">
    <div class="clair">coucou</div>
    <div class="fonce">Matériel à disposition :
      <ul>
        <li>caméra</li>
        <li>micro</li>
        <li>lights</li>
      </ul>
    </div>

    <div class="fonce">Nos bureaux :
      <ul>
        <li>adresses</li>
        <li>horaires</li>
      </ul>
  </div>
      <div class="clair">
      <%= image_tag("Kedgebs-logo.png", alt:"photo-profil-anais") %>
      </div>

</div>
