<h2>Ils nous font confiance</h2>

<section id="key-numbers">

  <div class="number-card">
    <h3>3</h3>
    <p>Années d'Expériences</p>
  </div>

  <div class="number-card">
    <h3>100%</h3>
    <p>De Satisfaction Client</p>
  </div>

  <div class="number-card">
    <h3>5 <i class="fa-solid fa-star"></i></h3>
    <p>D'après les avis Google</p>
  </div>

</section>
