<div>
    <div class="titre">
      <h2>Nos compétences</h2>
    </div>

    <div class="competences-1">
      <div class="competences-card ">
        <p>UGC</p>
      </div>

      <div class="competences-card">
        <p><%= link_to "coaching", coaching_path %></p>
      </div>

      <div class="competences-card">
        <p>Community Management</p>
      </div>
    </div>

    <div class="competences-2">
      <div class="competences-card">
        <p>Creation de contenu</p>
      </div>

      <div class="competences-card">
      <p>Site Internet</p>
      </div>

      <div class="competences-card">
      <p>Master Class</p>
      </div>

    </div>

  <div class="chiffres-cles">
    <div class="chiffres">
    <p>3 années d'expériences</p>
    </div>
    <div class="chiffres">
    <p>100% de satisfaction client</p>
    </div>
    <div class="chiffres">
    <p>5 étoiles - Avis Google</p>
    </div>
  </div>

</div>
