<div class="footer">
  <div style="margin: 1%"><p>A propos</p> <p>Nous contacter</p></div>

  <div style="margin: 1%"><p>Ils parlent de nous</p><p>Ils nous font confiance</p></div>

  <div class="portfolio"><p>PORTFOLIO</p></div>

  <div style="margin: 1%"><p>CGV</p><p>Made with 🖤 by Alice & Adam</p></div>

  <div class="logo">
    <div class="rs">
      <%= image_tag("logo-linkedin.svg", alt:"linkedin")%>
    </div>

    <div class="rs">
      <%= image_tag("logo-insta.jpg", alt:"instagram")%>
    </div>

    <div class="rs">
      <%= image_tag("logo-tiktok.svg", alt:"tiktok")%>
    </div>

  </div>
</div>
