<div class="footer">
<div><p>A propos</p> <p>Nous contacter</p></div>
<div><p>Ils parlent de nous</p><p>Ils nous font confiance</p></div>
<div><p>PORTFOLIO</p></div>
<div><p>CGV</p><p>Made with coeur by Alice & Adam</p></div>
<div class="rs"></div>
</div>
