<div class='cgv'>
<p>Conditions Générales de Vente (CGV) - Quartz Agency, une division de BREMAND SAS

Champ d'application

Les présentes conditions générales de vente régissent les relations contractuelles entre BREMAND SAS, opérant sous le nom commercial Quartz Agency, et ses clients dans le cadre de la prestation de services de coachings/formations, création de contenus et tournages.
Commandes et Prix

Toute commande de services est soumise à l'acceptation de Quartz Agency.
Les prix des services sont indiqués en euros, et Quartz Agency se réserve le droit de les modifier à tout moment.
Livraison des Services

Les délais de prestation de services sont convenus avec le client et peuvent varier en fonction de la nature des services demandés.
Les frais associés à la prestation des services sont spécifiés dans le devis fourni au client.
Paiement

Les paiements peuvent être effectués par [modes de paiement acceptés].
Quartz Agency se réserve le droit de refuser toute commande en cas de non-paiement ou de paiement non autorisé.
Annulation et Remboursement

Toute annulation de services doit être notifiée à Quartz Agency dans un délai de [nombre de jours] jours avant la date prévue de prestation.
Les remboursements seront effectués conformément aux conditions spécifiées dans notre politique d'annulation et de remboursement.
Responsabilité

Quartz Agency ne peut être tenue responsable des dommages indirects ou consécutifs résultant de l'utilisation de ses services.
Confidentialité

Les informations confidentielles échangées dans le cadre de la prestation de services seront traitées conformément à notre politique de confidentialité.
Droit applicable et litiges

Tout litige découlant des présentes conditions générales de vente sera soumis à la juridiction compétente de [votre juridiction].
Modification des CGV</p>
</div>
