
<div>
<div class="grille">
 <h2>Coaching</h2>

<section>
  <div id="coaching-video">
  </div>

  <div id="coaching-card">
  </div>
</section>

<section class="prestation">

</section>

  <div class="presta">
  <h2>Coaching</h2>
  <p>Communication sur xx </p>
  </div>
</div>

  <div class="grille">
    <div class="clair">60€ la vidéo</div>
     <div class="fonce">
      <li>Pack Complet :
      <ul>blablabla</ul>
      <ul>blablabla</ul>
      <ul>blablabla</ul>
      </li>
    </div>

    <div class="fonce">
    <li>Pack intermidiaire
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
  </div>
      <div class="clair">45€ la vidéo </div>

</div>

<%= render "pages/home/footer"%>
</div>

