<section id="coaching">

  <div class="coaching-card">
    <div class="image-container">
      <%= image_tag("skills/coaching.jpeg", alt: "coaching") %>
    </div>

    <div class="presta">
      <h2>Coaching</h2>
      <p>Le coaching, c'est bien plus qu'une simple conversation. Fort de compétences profondes, le coach excelle dans la communication empathique, l'écoute active et la capacité à poser des questions puissantes. Il maîtrise l'art de guider les individus vers la découverte de leurs propres solutions, encourageant ainsi l'autonomie et la croissance personnelle. Doté d'une intelligence émotionnelle développée, le coach sait créer un espace sûr et motivant pour favoriser la réflexion et l'action. En combinant ces compétences, le coaching devient une formidable alliance pour l'épanouissement personnel et professionnel. </p>
    </div>

  </div>

  <div class="grille">
    <div class="clair">150€ la séance</div>

    <div class="fonce">
      <li>Pack Complet :
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
    </div>

    <div class="fonce">
      <li>Pack intermidiaire
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
    </div>

    <div class="clair">45€ la vidéo</div>

  </div>

</section>
