<h2>Coaching</h2>

<section>
  <div id="coaching-video">
  </div>

  <div id="coaching-card">
  </div>
</section>

<section class="prestation">

</section>
<p>Find me in app/views/pages/coaching.html.erb</p>
