<section id="creation-contenu">
  <%# <h2>Coaching</h2> %>
  <div class="cc-card">
  <div class="video-container">
    <%= video_tag("skills/creation-contenu.mp4", autoplay: true, loop: true, controls: true) %>
  </div>
  <div class="presta">
    <h2>Creation de contenu</h2>
    <p>Notre agence de création de contenu s'engage à offrir une gamme complète de services pour répondre à vos besoins de communication et de marketing. Nos experts talentueux travaillent en étroite collaboration avec vous pour concevoir et produire un contenu captivant et personnalisé. De la rédaction créative à la production de vidéos haut de gamme, en passant par la conception graphique percutante, nous mettons à votre disposition une expertise polyvalente. Nous nous efforçons de comprendre votre public cible afin de créer du contenu qui résonne avec votre marque. Que ce soit pour alimenter vos plateformes de médias sociaux, enrichir votre site web ou élaborer des campagnes publicitaires percutantes, notre équipe est prête à donner vie à vos idées et à renforcer votre présence en ligne.</p>
</div>
  </div>

  <%# <div id="coaching-card">
  </div> %>



  <div class="grille">
    <div class="clair">150€ la séance
    </div>
    <div class="fonce">
      <li>Pack Complet :
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
    </div>
    <div class="fonce">
      <li>Pack intermidiaire
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
    </div>
    <div class="clair">45€ la vidéo
    </div>

  </div>

</section>
