<div class="masterclass-card">
<div id="skillsCarousel" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active ">
        <%= image_tag("skills/masterclass-1.jpeg", alt: "masterclass") %>
      </div>

      <div class="carousel-item ">
        <%= image_tag("skills/masterclass-2.jpeg", alt: "masterclass") %>
      </div>
    </div>

      <%# <button class="carousel-control-prev" type="button" data-bs-target="#skillsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#skillsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
      </button> %>

</div>

  <div class="presta">
    <h2>Masterclass</h2>
    <p>Animer une masterclass requiert un ensemble de compétences variées et percutantes. Tout d'abord, il est essentiel de posséder une expertise approfondie dans le sujet traité afin de transmettre des informations précises et pertinentes. La communication claire et captivante est une compétence clé, permettant de maintenir l'attention des participants et de rendre le contenu accessible à un large public. Une capacité à créer un environnement d'apprentissage interactif et engageant est tout aussi cruciale, en utilisant des méthodes pédagogiques diversifiées. L'empathie et la compréhension des besoins spécifiques des participants permettent d'adapter la masterclass pour maximiser son impact. Enfin, la gestion du temps et la capacité à répondre efficacement aux questions contribuent à créer une expérience d'apprentissage enrichissante et mémorable.</p>
  </div>

</div>

  <div class="grille">
    <div class="clair">150€ la séance
    </div>
    <div class="fonce">
      <li>Pack Complet :
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
    </div>
    <div class="fonce">
      <li>Pack intermidiaire
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
    </div>
    <div class="clair">45€ la vidéo
    </div>

  </div>
