<div class="ugc-card">
  <div id="skillsCarouselUgc" class="carousel slide style " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <%= video_tag("skills/ugc-01.mp4", autoplay: true, loop: true, controls: true, muted: true, playsinline: true) %>
      </div>

      <div class="carousel-item ">
        <%= video_tag("skills/ugc-02.mp4", autoplay: true, loop: true, controls: true, muted: true, playsinline: true) %>
      </div>

     <div class="carousel-item ">
        <%= video_tag("skills/ugc-03.mp4", autoplay: true, loop: true, controls: true, muted: true, playsinline: true) %>
      </div>
    </div>
  </div>

  <div class="presta">
    <h2>UGC</h2>
    <p>Découvrez l'expérience client sous un nouvel angle avec notre initiative UGC ! Chez Quartz Agency, nous croyons en la puissance des récits authentiques créés par notre communauté. Partager vos expériences, vos réussites et vos moments spéciaux à travers le UGC crée une connexion plus profonde et plus significative entre votre marque et votre audience.
    <br>Rejoignez notre mouvement en partageant vos histoires uniques. Que ce soit à travers des photos inspirantes, des vidéos captivantes ou des témoignages sincères, votre contenu devient une pièce maîtresse de notre récit collectif. Chez Quartz Agency, nous sommes convaincus que chaque client a une histoire précieuse à raconter, et nous voulons la mettre en lumière.</p>
  </div>

</div>

<div class="grille">
  <div class="clair">60€ la vidéo</div>
    <div class="fonce">
      <li>Pack Complet :
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
    </div>

    <div class="fonce">
    <li>Pack intermidiaire
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
  </div>
      <div class="clair">45€ la vidéo </div>

</div>

</div>
