<div>
<div class="grille">
  <div>Video </div>

  <div class="presta">
  <h2>Website</h2>
  <p>Communication sur xx </p>
  </div>
</div>

  <div class="grille">
    <div class="clair">250€ la journée</div>
     <div class="fonce">
      <li>Pack Complet :
      <ul>blablabla</ul>
      <ul>blablabla</ul>
      <ul>blablabla</ul>
      </li>
    </div>

    <div class="fonce">
    <li>Pack intermidiaire
        <ul>blablabla</ul>
        <ul>blablabla</ul>
        <ul>blablabla</ul>
      </li>
  </div>
      <div class="clair">45€ la vidéo </div>

</div>

</div>
