.grille{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;

  .clair{
    background-color: #FFDFD3;
    height: 150px;
    img {
      width: 100%; /* L'image prend 100% de la largeur du conteneur parent (grille) */
      height: 100%; /* L'image prend 100% de la hauteur du conteneur parent (grille) */
      // object-fit: cover; /* Redimensionne l'image pour remplir complètement le conteneur sans déformer */
    }
    }


  .fonce {
    background-color: #D291BC;
    }
}

.anais {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2%;

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  margin-bottom: 2%;
}
}

.prez{
  border-radius: 35% 15%;
  margin: 4%;

span {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #A782A1;
  margin-top: 5%;

  }

p {
  color: #A782A1;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;

}

ul{
  color: #A782A1;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;

}

li {
  color: #A782A1;
  margin-left: 10%;
  margin-right: 10%;

}

br{
  color: #A782A1;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;

}

}

  @media(min-width: 768px) and (max-width: 1388px) {
    // Ajoutez ici les styles spécifiques à cette résolution d'écran si nécessaire
  }

  @media(max-width: 767px) {
    .grille{
      display: grid;
      grid-template-columns: auto;
      margin-bottom: 1%;


      .clair{
        margin-bottom: 1%;

        }


      .fonce {
        margin-bottom: 1%;
        }
    }

    .anais{
        display: grid;
        grid-template-columns: auto;
        margin: 2%;

    }

  }
