.btn-contact{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  background-color: #FDAEEE;
  color: #FFF9A7;
  display: block;
  text-align: center;
  line-height: 150px;
  border: 5px solid #FFF9A7;

}

.btn-contact a {
  text-decoration: none;
  color: #FFF9A7;
  font-size: 14px;
  text-align: center;
}
