.btn-contact{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #FDB8BA;
  color: #E51C23;
  display: block;
  text-align: center;
  line-height: 100px;

}

.btn-contact a {
  text-decoration: none;
  color: #E51C23;
  font-size: 14px;
  text-align: center;
}
