.btn-contact{
  position: absolute;
  top: 135%;
  right: 0%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  background-color: #DAAEFC;
  display: block;
  text-align: center;
  line-height: 150px;

}

.btn-contact a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}


@media(min-width: 292px) and (max-width: 992px) {
  .btn-contact{
    position: relative;
    top: 10%;
    left: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-color: #DAAEFC;
    display: block;
    text-align: center;
    line-height: 150px;
   a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-align: center;
  }

}
}
