.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.chiffres-cles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.chiffres {

  background-color: #009688;
  border-right: 1px solid black;
  h1 {
    color: #FDB8BA;
  text-align: center;
  font-family: 'cinzel', sans-serif;
  }
  p {
    text-align: center;
    color: #FDB8BA;
    font-size: medium;
    font-family: 'belleza', sans-serif;
  }
}

.competences-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: end;
  justify-content: space-around;
  margin-bottom: 2em;
}

.competences-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
  margin-bottom: 2em;
}


.competences-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #1DE9B6;
  height: 200px;
  width: 200px;
  margin: 1em;
  p {
    text-align: center;
    font-size: 14px;
    color: #E51C23;
    font-family: 'belleza', sans-serif;
  }
}


.titre {
  color: #1DE9B6;
  text-align: center;
  margin-top: 2%;
  text-align: center;
  font-family: 'cinzel', sans-serif;
}

.anais {
  display: grid;
  grid-template-columns: 1fr 2fr;

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-self: center;
  align-self: center;
}

p {
  color: #FDB8BA;
  box-shadow: 5px #FDB8BA;
  font-family: 'belleza', sans-serif;
}
}


@media(min-width: 768px) and (max-width: 1388px) {
  // Ajoutez ici les styles spécifiques à cette résolution d'écran si nécessaire
}

@media(max-width: 767px) {
  .competences-1 {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  }

  .competences-2 {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    }

  .competences-card{
    align-self: center;
  }
  p {
    text-align: center;
    align-self: center;
    font-size: 14px;
    color: #E51C23;
    font-family: 'belleza', sans-serif;
  }


  .chiffres-cles {
   display: grid;
   grid-template-columns: auto;

  }

  .chiffres{
    border-bottom: 1px solid black;
    text-align: center;
  }

  .anais{
    display: grid;
    grid-template-columns: auto;
  }

}
