.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 1%;
  width: 100%;
  margin-top: 1%;
p {
  color: black;
  margin-left: 2%;
}
}

.portfolio{
  text-align: center;

  p{
    color: #FFF9A7;
  }
}

.logo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.rs{
  padding: 1%;

  img {
    width: 50%
  }
}

@media(min-width: 768px) and (max-width: 1388px) {
  // Ajoutez ici les styles spécifiques à cette résolution d'écran si nécessaire
}

@media(max-width: 767px) {
  .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
  }

}
