.form {
margin: auto;
width: 50%;

}

.champs{
  background-color: #A782A1;
  padding: 3%;
  margin: 3%;
  border-radius: 5%;
  width: 100%;

  form {
    width: 100%;
    display: grid; // Ajoutez une grille à l'intérieur du formulaire pour centrer l'input
    grid-template-columns: auto; // Une seule colonne pour l'input
    align-items: center;
    justify-items: center;
  }

  input[type="text"] {
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    // Ajoutez un rayon de bordure si nécessaire
    background-color: #DAAEFC;
    border-radius: 10px;
  }
  input[type="email"] {
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
     // Ajoutez un rayon de bordure si nécessaire
    background-color: #DAAEFC;
    border-radius: 10px;
  }

  input[type="submit"] {
    width: 30%;
    padding: 2%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    background-color: #A782A1;
    border-radius: 15px;
    border: 5px solid #FDAEEE;
    font-size: 16px;
  }

  textarea{
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    border-radius: 10px; // Ajoutez un rayon de bordure si nécessaire
    background-color: #DAAEFC;
  }

  label{
    color: black;
   width: 70%;
  }
}

// .infos{
//   display: grid;
//   grid-template-rows: auto;
//   width: 70%;
// }


.btn-envoyer{
  border-radius: 10%;
  background-color: #A782A1;
  color: #FFF9A7;
  display: block;
  text-align: center;
  margin: 5%;
  justify-content: center;
}

@media(min-width: 768px) and (max-width: 1388px) {
  // Ajoutez ici les styles spécifiques à cette résolution d'écran si nécessaire
}

@media(max-width: 767px) {
.form{
  display: grid;
  grid-template-columns: auto;
}
}
