#contact{
  margin-bottom: 2%;

  h2{
    margin-bottom: 1%;
  }
}

.form{
  width: 50%;
  margin: auto;
}

.champs{
  background-color: #A782A1;
  padding: 3%;
  margin: auto;
  border-radius: 5%;
  width: 100%;
  display: grid; // Ajoutez une grille à l'intérieur du formulaire pour centrer l'input
  grid-template-columns: auto; // Une seule colonne pour l'input
  align-items: center;
  justify-items: center;

  input[type="text"] {
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    // Ajoutez un rayon de bordure si nécessaire
    background-color: #DAAEFC;
    border-radius: 10px;

  }
  input[type="email"] {
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
     // Ajoutez un rayon de bordure si nécessaire
    background-color: #DAAEFC;
    border-radius: 10px;

  }

  input[type="tel"] {
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
     // Ajoutez un rayon de bordure si nécessaire
    background-color: #DAAEFC;
    border-radius: 10px;
  }

  textarea{
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    border-radius: 10px; // Ajoutez un rayon de bordure si nécessaire
    background-color: #DAAEFC;
    text-decoration: none;
  }

  input[type="submit"]:valid {
    width: 40%;
    padding: 2%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    background-color: #A782A1;
    border-radius: 15px;
    border: 5px solid #FDAEEE;
    font-size: 16px;
  }


  input[type="submit"]:invalid {
    width: 30%;
    padding: 2%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    background-color: #A782A1;
    border-radius: 15px;
    border: 5px solid red;
    font-size: 16px;
  }

  }

  label{
    color: black;
   width: 70%;
  }


.is-invalid{
  border: 1px solid red;
  background-color: #ffeeee;
}

.d-none{
  display: none;
}


// .infos{
//   display: grid;
//   grid-template-rows: auto;
//   width: 70%;
// }


.btn-envoyer{
  width: 40%;
  padding: 2%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
  margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
  border: none; // Enlevez la bordure si nécessaire
  background-color: #A782A1;
  border-radius: 15px;
  border: 5px solid #FDAEEE;
  font-size: 16px;
  color: #FFF9A7;
}




@media(min-width: 768px) and (max-width: 1388px) {
  // Ajoutez ici les styles spécifiques à cette résolution d'écran si nécessaire
}

@media(max-width: 767px) {
.form{
  display: grid;
  grid-template-columns: auto;
}
}
