
$rose: #FDAEEE;
$violet: #DAAEFC;
$orange: #FCE3D7;
body {
  background-color: $orange;
}
nav {
  background-color: $rose;

  #menu {
    background-color: $rose;

    div:hover {
      background-color: $violet;
    }
  }
}
