

$rose: #FDAEEE;
$violet: #A782A1;
$jaune: #FFF9A7;
$orange: #FCE3D7;
$mauve: #DAAEFC;
body {
  background-color: $orange;
}

nav {
  background-color: $rose;

  #menu {
    background-color: $rose;

    div:hover {
      background-color: $violet;
    }
  }
}
