nav {
  background-color: #A782A1;
  display:flex;
  justify-content: space-between;
  height: 15vh;
  position: sticky;
  top: 0;

  section {
    width:33%;
  }

  #main-title {
    font-size: 2em;
    text-align: center;
  }

  #navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #menu-button {
    font-size: 2em;
    margin-right: 3em;

    &:hover {
      cursor:pointer;
    }
  }

  #menu {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    position:absolute;
    top:15vh;
    right: 0;
    // height:84vh;
    background-color: #A782A1;
    font-size: 1.5em;
    transform-origin: right;   // Commence l'animation depuis la gauche
    transform: translateX(100%);     // Échelle horizontale réduite à 0
    transition: transform 0.5s ease-out;

    div {
      padding: 1em;
      &:hover {
        background-color: #DAAEFC;
      }
    }
  }

}

#menu.toggle {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}

.overflow-hidden {
  overflow: hidden;
}
