@import "font-awesome";

@import 'components/index';
@import 'navbar';

// La police d'écriture, libre à vous de tester une autre !
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Inter&display=swap');
body {
  font-family: 'cinzel', 'Inter', 'Arial', 'Helvetica', sans-serif;
}

// marre de la lumiere blanche quand je travaille
body {
  background-color: black;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color:inherit;
}
