<nav>
  <section id="main-logo">
    <h1>logo</h1>
  </section>
  <section id='main-title'>
    <h1>Quartz Agency</h1>
  </section>
  <section id="navigation" data-controller="navbar">
    <i id='menu-button' class="fa-solid fa-bars" data-action="click->navbar#toggle"></i>
    <div id="menu" data-navbar-target="menu">
      <%= link_to '#' do %>
        <div>Ils nous font confiance</div>
      <% end %>
      <%= link_to '#' do %>
        <div>A propos</div>
      <% end %>
      <%= link_to '#' do %>
        <div>Nous contacter</div>
      <% end %>
      <%= link_to '#' do %>
        <div>Ils parlent de nous</div>
      <% end %>
    </div>
  </section>
</nav>
